.nav-outer {
  background-color: yellow;
  height: 6em;

  nav {
    height: 100%;
    max-width: var(--l-page-width);
    padding: 16px var(--l-padding);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-img {
      height: 100%;
      display: flex;
      flex-shrink: 1;
      img {
        height: 100%;
      }
    }
    .nav-links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      a {
        font-size: 1.2em;
        padding: 1em;
        font-weight: bold;
        text-transform: lowercase;
        
      }
    }
  }
}