.nav-outer {
  background-color: var(--c-oxford);

  nav {
    height: 100%;
    max-width: var(--l-page-width);
    padding: 16px var(--l-padding);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 950px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
    }

    .nav-top {
      display: flex;
      flex-shrink: 1;
      img {
        height: 4em;
      }

      @media screen and (max-width: 950px) {
        padding: var(--l-padding);
        width: 100%;
          box-shadow: 0 20px 64px rgba(0,0,0,.3)
      }
    }
    .nav-links {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      @media screen and (max-width: 950px) {
        flex-direction: column;
        padding: var(--l-padding);
        gap: var(--l-padding)
      }
      a {
        font-size: 1.2em;
        //padding: 1em var(--l-padding);
        font-weight: bold;
        text-transform: lowercase;
        color: var(--c-text-on-dark);
      }
    }
  }
}