$l-page-width: 1100px;
$l-padding: 24px;
$l-breakpoint-1c: 910px;

$c-slate: #33363b;
$c-oxford:  #002147;

$c-text-on-light: $c-slate;
$c-text-on-dark: lightgrey;

// l is for layout, c is for colour
